= form_tag movies_path, :method => :get do
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :direction, params[:direction]        
  Include: 
  - @all_ratings.each_key do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", rating, checked?(rating)
  = submit_tag 'Refresh'