-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= render :partial => "filter"

%table#movies
  %thead
    %tr
      %th= sortable "title", 'Movie Title', @selected_ratings
      %th= sortable "rating", 'Rating', @selected_ratings
      %th= sortable "release_date", 'Release Date', @selected_ratings
      %th= sortable "title", 'More Info', @selected_ratings
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
